@font-face {
    font-family: PlusJakartaSans; 
    src: url('./font/PlusJakartaSans-Medium.ttf');
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    letter-spacing: 0.8px;
    font-family: PlusJakartaSans; 
    background-color: rgb(7, 14, 31);
}
.form { 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.form .center {
    width: 40px;
    margin: 0 auto;
}
.form .center img {
    width: 100%;
}
form {
    border-radius: 00.5rem;
    width: 350px;
    display: inline-block;
}
.form h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: white;
    margin-bottom: 0.9rem;
}
.form h2 {
    margin-bottom: 0.7rem;
    color: white;
    font-size: 1.4rem;
}
.form h5 {
    margin-bottom: 0.9rem;
    color: rgb(123, 126, 136);
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.form h5 span {
    color: rgb(196, 198, 202);
}
.form label {
    text-align: start;
    color: white;
    margin-bottom: 0.8rem;
    display: flex;
}
.form .form__input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
}
.form .form__input .form__input__svg {
    position: absolute;
    top: 12px;
    left: 13px;
}
.form .form__input .form__input__svg svg {
    color: #6e6c6c;
}
.form .form__input .form__input__input {
    width: 76%;
    margin-bottom: 1rem;
}
.form .form__input .form__input__input input {
    padding: 0.6rem 2.5rem;
    color: #6e6c6c;
    border: rgb(24, 31, 59) solid 2px;
    background-color: rgb(24, 31, 59);
    font-size: 1rem;
    width: 100%;
    border-radius: 0.2rem;
}
.form .form__button {
    padding: 0.7rem 0.2rem;   
    width: 100%;
    background-color: rgb(64, 106, 252);
    border: unset;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 0.2rem;
}
.form .form__button a {
    color: white;
}
/* index input */
.number-code {
    border: unset;
}
.number-code div {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    width: 60%;
    margin: 2rem auto;
    height: 35px;
    gap: 10px; 
}
.number-code input {
    width: 100%;
    text-align: center;
    background-color: rgb(24, 31, 59);
    border: unset;
    color: white;
    border-radius: 0.2rem;
}
/* finish index input */
/* login */
.text a {
    color: rgb(85, 89, 101);
}
.form .checkbox {
    display: flex;
}
.text {
    margin-bottom: 2rem !important;
    margin-top: -0.9rem;
    text-align: end !important;
}
.form .form__text a {
    color: rgb(64, 106, 252);
}
.form .flex {
    width: 350px;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: rgb(85, 89, 101);
}
.form .flex hr {
    width: 40%;
    background-color: rgb(85, 89, 101) !important;
    border: unset;
    height: 2px;
}
.google {
    border: rgb(85, 89, 101) 1px solid;
    border-radius: 0.1rem;
    display: flex;
    flex-direction: row;
    width: 355px;
    margin: 0 auto;
    padding: 0.8rem 0;
}
.google .svg {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.google svg {
    color: white;
    width: 100%;
}
.google a {
    text-align: start;
    width: 70%;
    color: white;
}
.google:hover {
    background-color: white;
}
.google:hover a {
    color: rgb(7, 14, 31);
}
.google:hover svg {
    color: rgb(7, 14, 31);
}
p {
    margin-left: 10px;
}
/* finish login */
/* log in new password */
.form .checkbox {
    color: #ffffff;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
/* finish log in new password */
/* save new password  */
.background {
    background-color: rgb(19, 26, 42);
    padding: 1rem;
    border-radius: 0.1rem;
}
.form h4 {
    color: white;
    margin: 1.5rem auto;
    font-weight: unset;
}
/* finish save new password */
@media (max-width:600px) {
    .form { 
        display: table;
        height: 80vh;
        justify-content: unset;
    }
    .form .center {
        margin: 0 auto;
        margin-top: 2rem;
    }
    .google {
        margin-bottom: 2rem ;
    }
    .background {
        background-color: unset;
    }
}
