@font-face {
    font-family: PlusJakartaSans; 
    src: url('./font/PlusJakartaSans-Medium.ttf');
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: PlusJakartaSans; 
    background-color: rgb(7, 14, 31);
}
.form { 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.form .center {
    width: 40px;
}
.form .center img {
    width: 100%;
}
form {
    border-radius: 00.5rem;
    width: 350px;
    display: inline-block;
}
.form .form__text1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: white;
    margin-bottom: 0.9rem;
}
.form .form__text2 {
    margin-bottom: 0.7rem;
    color: white;
    font-size: 1.4rem;
}
.form .form__text3 {
    margin-bottom: 0.9rem;
    color: #6e6c6c;
    font-size: 0.8rem;
}
.form .form__text4 {
    text-align: start;
    color: white;
    margin-bottom: 0.8rem;
}
.form .form__flex__input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
}
.form .form__flex__input .input__svg {
    position: absolute;
    top: 12px;
    left: 13px;
}
.form .form__flex__input .input__svg svg {
    color: #6e6c6c;
}
.form .form__flex__input .input__input {
    width: 76%;
    margin-bottom: 1rem;
}
.form .form__flex__input .input__input input {
    padding: 0.6rem 2.5rem;
    color: #6e6c6c;
    border: rgb(24, 31, 59) solid 2px;
    background-color: rgb(24, 31, 59);
    font-size: 1rem;
    width: 100%;
    border-radius: 0.2rem;
}
.form .form__button {
    padding: 0.7rem 0.2rem;   
    width: 100%;
    background-color: rgb(64, 106, 252);
    border: unset;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 0.2rem;
}
.form .form__button a {
    color: white;
}
@media (max-width:600px) {
    .form { 
        display: block;
    }
    .form .center {
        margin: 1rem auto;
    }
}
